@model strakcinema.movy

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    <h4>Movie Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.release_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.release_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.movie_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
